# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Conda environments
/env/
/venv/
/.venv/
/conda-env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# Data files - IMPORTANT!
data_local/
*.grib
*.nc
*.idx

# Log files
slurm_logs/
*.log
experiment_outputs/

# Legacy
investigation_phase1/

checkpoints/baseline/*
!checkpoints/baseline/metrics.jsonl

checkpoints/lora/*
!checkpoints/lora/metrics.jsonl

checkpoints/physics_informed/*
!checkpoints/physics_informed/metrics.jsonl